<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title>タグ一覧</title>
</head>
<body>
<section layout:fragment="content">
<h1>一覧</h1>
<a th:href="@{/}">戻る</a>
<div>
    <a th:href="@{/tags/creationForm}" class="btn btn-primary">作成</a>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>name</th>
            <th>color code</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag : ${tags}" th:object="${tag}">
            <td><a th:href="@{/tags/{tagId}(tagId=*{tagId})}" th:text="*{name}"></a></td>
            <td><a th:href="@{/tags/{tagId}(tagId=*{tagId})}" th:text="*{colorCode}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</section>
</body>
</html>