<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title th:text="${mode == 'CREATE'} ? '科目作成' : '科目編集'"></title>
</head>
<body>
<section layout:fragment="content">
    <form th:action="${mode == 'CREATE'} ? @{/subjects} : @{/subjects/{id}(id=${id})}"
          th:method="${mode == 'CREATE'} ? post : put"
          th:object="${subjectForm}">
        <div>
            <label for="nameInput">名前</label>
            <input type="text" id="nameInput" th:field="*{name}">
        </div>
        <div>
            <label for="colorCodeInput">カラーコード</label>
            <input type="text" id="colorCodeInput" th:field="*{colorCode}">
        </div>
        <div>
            <label for="descriptionInput">詳細</label>
            <textarea id="descriptionInput" th:field="*{description}"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" th:text="${mode == 'CREATE' ? '作成' : '編集'}"></button>
            <a th:href="${mode == 'CREATE'} ? @{/subjects} : @{/subjects/{id}(id=${id})}"  class="btn btn^secondary">戻る</a>
        </div>
    </form>
</section>
</body>
</html>