<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>科目一覧</title>
</head>
<body>
<h1>一覧</h1>
<a th:href="@{/}">戻る</a>

<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>color code</th>
            <th>description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}" th:object="${subject}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{colorCode}"></td>
            <td th:text="*{description}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>