<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title>科目作成</title>
</head>
<body>
<section layout:fragment="content">
    <form th:action="@{/subjects}" method="post">
        <h2 class="mb-3">科目を追加</h2>
        <div>
            <label for="nameInput">名前</label>
            <input type="text" id="nameInput" name="name">
        </div>
        <div>
            <label for="colorCodeInput">カラーコード</label>
            <input type="text" id="colorCodeInput" name="colorCode">
        </div>
        <div>
            <label for="descriptionInput">詳細</label>
            <textarea id="descriptionInput" name="description"></textarea>
        </div>
        <div>
            <button type="submit">作成</button>
        </div>
    </form>
</section>
</body>
</html>