<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title th:text="ログ作成"></title>
</head>
<body>
<section layout:fragment="content">
    <form th:action="@{/logs}"
          th:method="post"
          th:object="${logForm}">
        <div>
            <label for="subjectInput">科目</label>
            <select class="form-select" id="subjectInput" th:field="*{subjectId}">
                <option th:each="subject : ${subjects}" th:value="${subject.subjectId}" th:text="${subject.name}"></option>
            </select>
        </div>
        <div>
            <label for="startInput">開始</label>
            <input type="datetime-local" id="startInput" th:field="*{startAt}">
        </div>
        <div>
            <label for="endInput">終了</label>
            <input type="datetime-local" id="endInput" th:field="*{endAt}">
        </div>
        <div>
            <label for="memoInput">メモ</label>
            <textarea id="memoInput" th:field="*{memo}"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" th:text="作成"></button>
            <a th:href="@{/logs}"  class="btn btn-secondary">戻る</a>
        </div>
    </form>
</section>
</body>
</html>